.register {
    padding: 80px 5%;
    background-color: white;
}

#register-form {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.form-group {
    margin-bottom: 15px;
}
.top-inputs{
    display: flex;
    justify-content: space-between;
}
.top-inputs div {
    flex-basis: 49%;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #5c3d2e;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group.full-width {
    grid-column: span 1;
}

#register-form button {
    grid-column: span 1;
    margin-top: 20px;
    cursor: pointer;
    border: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #register-form {
        grid-template-columns: 1fr;
    }
    #register-form button {
        grid-column: span 1;
    }
}

